*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: lightgray;
  main {
    margin-top: 8rem;
    margin-left: 240px;
    input[type=text] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      border: none;
      transition-duration: 0.4s;
      &:focus{
        outline: none;
        border-radius: 50px;
        transform: scale(1.1);
        width: 38%;
        margin-left: 1.8rem;
      }
    }
    .title {
      display: flex;
      input[type=text]{
        margin-left: 2rem;
        width: 30%;
        height: 45px;
        margin-top: auto;
        margin-bottom: auto;
      }
      button{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border: none;
        border-radius: 30%;
        margin-left: 2rem;
        background-color: #4CAF50;
        color: white;
        padding: 13px 29px;
        text-align: center;
        height: 71px;
        text-decoration: none;
        display: inline-block;
        font-size: 35px;
        cursor: pointer;
        transition-duration: 0.4s;
        &:hover {
          background-color: white;
          color: #4CAF50;
        }
      }
    }
    .flex-container {
      display: flex;
      flex-wrap: wrap;
      text-align: left;
      > div {
        border: 5px solid black;
        border-radius: 50px;
        background-color: #f1f1f1;
        line-height: 35px;
        font-size: 15px;
        margin-right: 1rem;
        flex-basis: 40%;
        margin-bottom: 1rem;
        transition-duration: 0.4s;
        &:hover{
          transform: scale(1.1);
        }
      }
      .content{
        width: 510pt;
      border-radius: 45px;
      overflow: hidden;
        .contentText {
          height: 300px;
          overflow-y: auto;
          margin-left: 1rem;
          textarea{
            height: 100px;
            width: 100px;
          }
          .cke_top {
            display: none;
          }
          button{
            border-radius: 50px;
            background-color: #4CAF50; /* Green */
            border: none;
            margin-left: 2rem;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px; 
            height: 43px;
            transition-duration: 0.4s;
            cursor: pointer;
            &:hover {
              transform: scale(1.1);
            }
          }
          button:nth-child(2){
            background-color: royalblue;
          }
          button:nth-child(3){
            background-color: red;
          }
        }
        .datopic{
          display: flex;
          margin-right: 10px;
        }
        .datopic > *:first-child {
          margin-right: 10px;
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .flex-container>div {
    flex-basis: 48%;
  }
}

@media only screen and (max-width: 600px) {
  .flex-container>div {
    flex-basis: 100%;
    margin-right: 0;
  }
}

// @media only screen and (max-width: 768px) {
//   .flex-container {
//     margin-left: -14rem;
//   }
// }

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: royalblue;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
}